@import url(https://fonts.googleapis.com/css?family=Exo+2:400,200italic);


 
  .btn {
  background:transparent;
  text-align:center;
  letter-spacing:1px;
  font-size:1.4em;
  line-height:0em;
  font-weight:300;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  width:200px;
  height:20px;
  padding:20px 0;
  color:whitesmoke ;
  border:2px solid whitesmoke;
  overflow:hidden;
  display:inline-block;
  transition:all 0.5s;
  
  border-radius: 4px;
}

.btn:hover, .btn:active {
  text-decoration: none;
  color:#fff;
  border-color:#141e30;
  background: #141e30;
  box-shadow:0 0 0 #141e30;
}

